@model ahmadi.Models.ChangePasswordViewModel
@{var Meta = ViewBag.Meta as ahmadi.ViewModels.Home.Meta; }

@section Meta{
    @Html.Partial("_Meta", Meta)
}
@section Header{

    <link href="~/Content/Default/user.css" rel="stylesheet" />
}
@{
    Layout = "~/Views/Profile/_layout.cshtml";
}

<div class="container" id="changepassword">
    <h1>
        <span>  تغییر رمز عبور </span>
        <a href="/Profile"><span class="fa fa-chevron-left"></span></a>
    </h1>
    <div class="">

        <div class="Pagecontent">

            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = " control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = " control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="تغییر رمز عبور" class="btn btn-success" />
                    </div>
                </div>
            }

        </div>
    </div>
</div>

