@model PagedList.IPagedList<Domain.ViewModels.ProductItem>

@using ahmadi.Infrastructure.Helper
@using CoreLib.Infrastructure;
@using PagedList.Mvc;

@{var Meta = ViewBag.Meta as ahmadi.ViewModels.Home.Meta;}

@{
    Layout = "~/Views/Profile/_layout.cshtml";
}


@section Meta{
    @Html.Partial("_Meta", Meta)
}

<div class="container" id="Favorates">
    <h1>
        <span> محصولات مورد علاقه</span>
        <a href="/Profile"><span class="fa fa-chevron-left"></span></a>
    </h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="product favorate">
                @Html.Partial("_PItem", item)

                <div class="options">
                    <span class="fa fa-bars"></span>
                    <p class="delete" data-id="@item.Id">
                        حذف از لیست
                    </p>
                </div>
            </div>

        }

    </div>
    <div class="Pagging-New-Container">
        <strong class="Pagging-New-Info">
            تعداد نتایج : @Model.TotalItemCount ، صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
        </strong>
        <br /> <br />

        @Html.PagedListPager(Model, Page => "/Profile/favorites?page=" + Page)

    </div>
 
</div>

