@model ahmadi.Models.ForgotPasswordViewModel

@{
    var Meta = ViewBag.Meta as ahmadi.ViewModels.Home.Meta;

    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}
@section Meta{
    @Html.Partial("_Meta", Meta)
}


<section id="loginForm">
    <br />
    @if (ViewBag.message != null)
    {
        <p class="alert alert-danger">@ViewBag.message</p>
        <script>
            setTimeout(function () {
                window.location.href = "/Account/ResetPass?mobile=@ViewBag.mobile";
            }, 4000); 
        </script>
    }

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        if (ViewBag.Error != null)
        {
            <p class="alert alert-danger">@ViewBag.Error</p>
        }
        <p style="padding-right:10%">
            فراموشی رمز عبور<br />
            نام کاربری(شماره تلفن همراه) خود را وارد نمایید.
        </p>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Mobile, new { style = "border-radius: 0", @type = "number", placeholder = Html.DisplayNameFor(x => x.Mobile), @class = "form-control" })

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-info" value="ارسال " />
                <input type="hidden" id="Add" name="Add" />
            </div>
        </div>
    }
</section>

@section Scripts{
    <script src="https://www.google.com/recaptcha/api.js?render=6LfeT2UcAAAAAADjGY2cpdG4iCHKwJ3KZjYu-WYw"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LfeT2UcAAAAAADjGY2cpdG4iCHKwJ3KZjYu-WYw', { action: 'homepage' }).then(function (token) {
                document.getElementById("Add").value = token;
            });
        });
    </script>

}