@model ahmadi.Models.ResetPasswordViewModel


@{var Meta = ViewBag.Meta as ahmadi.ViewModels.Home.Meta;

    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    }

@section Meta{
    @Html.Partial("_Meta", Meta)
}

<div class="body-content outer-top-xs">
    <br />
    <div class="container">
        <div class="row">

            <div class="Pagecontent">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 style="font-size: 1.2em; padding: 0px 20px;">نام کاربری( شماره تلفن همراه) خود را به همراه رمز عبور جدید وارد نمایید :</h4>
                 
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <p class="text-danger">@ViewBag.Error</p>
                    @Html.HiddenFor(model => model.Code)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Mobile, new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="تغییر رمز عبور" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>