
<title>تغییر رمز عبور</title>

<div class="x_panel">
    <div class="x_content">

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@Html.Raw(ViewBag.Error)</div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">@Html.Raw(@ViewBag.Message)</div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("id", ViewBag.id as string)
            @Html.Password("OldPassword", null, new { @class = "form-control", @placeholder = "رمز فعلی خود را وارد نمایید" })<br />
            @Html.Password("NewPassword", null, new { @class = "form-control", @placeholder = "رمز عبور جدید را وارد نمایید" })<br />
            @Html.Password("ConfirmPassword", null, new { @class = "form-control", @placeholder = "رمز عبور جدید را دوباره وارد نمایید" })<br />
            <input type="submit" value="ثبت" class="btn btn-info" />
        }
        </div>
</div>