@model Domain.Ticket

<title>مشاهده پرسش @Model.Code</title>
@section Header{
    <style>
        .alert-default {
            background: #fff;
            color: #747474;
            border-radius: 2px;
            box-shadow: 0 6px 10px 0 #3c3d4233;
        }

        .adminticket {
            border: 1px solid #e8e8e8;
            border-radius: 3px;
            margin-bottom: 20px;
            word-break: break-all;
            box-shadow: 0 4px 12px 0 #34353c30;
        }

        .adminheader h5 {
            border-radius: 3px 3px 0 0 !important;
            padding: 14px 30px !important;
            background: #3d4bb4 !important;
            border-bottom: 1px solid #3d4bb4 !important;
            color: #fff !important;
        }

        .clientmsg, .ticket-footer, .adminmsg {
            padding: 14px 30px !important;
            margin-bottom: 0 !important;
        }

        .clientticket {
            border-radius: 3px;
            margin-bottom: 30px;
            word-break: break-all;
            box-shadow: 0 4px 12px 0 #34353c30;
        }

        .clientheader h5 {
            border-radius: 3px 3px 0 0 !important;
            padding: 14px 30px !important;
            background: #434650 !important;
            color: #fff;
            border-bottom: 1px solid #fff !important;
        }
    </style>
}

<div class="x_panel">
    <div class="x_content">

        <div class="text-left"><a class="btn btn-success" href="@Url.Action("Index")"> بازگشت به لیست <span class="glyphicon glyphicon-chevron-left"></span></a></div>

        <h1 style="display:inline-block;font-size: 2em;" class="box-title">
            مشاهده پرسش @Model.Code
        </h1>
        <hr />
        <div class="col-xs-12 col-sm-12 col-md-12 padding-0 alert alert-default alert-dismissible">
            <div class="col-sm-3 padding-top-20 padding-bottom-20 grey-800 text-center">زمان ایجاد : @CoreLib.Infrastructure.DateTime.DateTimeConverter.ChangeMiladiToLongShamsi(Model.InsertDate) ( @Model.InsertDate.ToShortTimeString() )</div>
            <div class="col-sm-3 padding-top-20 padding-bottom-20 grey-800 text-center">
                آخرین بروزرسانی : @if (Model.UpdateDate.HasValue)
                {
                    @CoreLib.Infrastructure.DateTime.DateTimeConverter.ChangeMiladiToLongShamsi(Model.UpdateDate.Value)
                    <span>( @Model.UpdateDate.Value.ToShortTimeString() )</span>
                }
            </div>
            <div class="col-sm-3 padding-top-20 padding-bottom-20 grey-800 text-center">
                وضعیت تیکت : <span style="color:#CAF200">
                    @if (Model.ChildTickets.Any(x => x.Answer == true))
                    {
                        if (ahmadi.Infrastructure.DbSql.SqlManager.CheckTicketState(Model.ChildTickets.Where(x => x.Answer == true)))
                        {
                            <span class="red">در انتظار پاسخ</span>
                        }
                        else
                        {
                            <span class="green">پاسخ داده شده</span>
                        }
                    }

                    else
                    {
                        <span class="red">در انتظار پاسخ</span>
                    }
                </span>
            </div>
            <div class="col-sm-3 padding-top-20 padding-bottom-20 grey-800 text-center">دسته بندی : @Model.TicketCategory.Title</div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            @Html.Partial("_TicketList", Model, new ViewDataDictionary { { "ReplayAnswer", true }, { "lastId", ViewBag.lastId } })
        </div>




    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Message").val("");
        });
    </script>
}