@model ahmadi.ViewModels.Content.ContentType
@using CoreLib.Infrastructure
@using ahmadi.Infrastructure.Helper
@using CoreLib.Infrastructure
@using PagedList.Mvc;

@{
    var Meta = ViewBag.Meta as ahmadi.ViewModels.Home.Meta;
    var setting = ViewBag.setting as Domain.Setting;
    int i = 1, k = 0;
    int SumSize = 0;


}

@section Meta{
    @Html.Partial("_Meta", Meta)
}

@section Header{
    <link href="~/Content/Base/Css/view/ContentType.css" rel="stylesheet" />
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/Content/Base/Theme/images/xbg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5 fadeInUp ftco-animated">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/En"> Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>@Model.contentType.Name </span>
                </p>
                <h1 class="mb-3 bread">@Model.contentType.Title</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">

        @if (Model.Sliders != null)
        {
            if (Model.Sliders.Any())
            {
                i = 0;
                <div class="col-lg-12" style="padding:0">

                    @foreach (var slider in Model.Sliders)
                    {
                        @Html.Partial("_BootStrapSlideShowCaptionBlog", slider, new ViewDataDictionary { { "Index", i.ToString() }, { "staticUrl", Meta.StaticContentUrl } })
                        i++;
                    }

                </div>
            }
        }


    </div>
</div>

<div class="container ads">
    <div class="row">
        @{ SumSize = 0;}
        @foreach (var item in Model.TopAdveresting)
        {
            SumSize += CoreLib.Infrastructure.CommonFunctions.GetSizeColumn(item.AdverestingSizeId);
            <div class="Adveresting Position-@item.Position Size-@item.AdverestingSizeId @(SumSize==12?"lastbox":"")">
                <a href="@item.Link" title="@item.Title">
                    <div class="categories__item set-bg" data-setbg="@Html.DisplayattachmentUrl(item.attachment.FileName)" style="background-image: url(&quot;@Html.DisplayattachmentUrl(item.attachment.FileName)&quot;);">
                        <div class="categories__hover__text">
                            <h5>@item.Title</h5>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ">
                <span class="subheading">Our Team</span>
                <h2 class="mb-4">Our Team</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.LatestContents)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="block-2 ftco-animate fadeInUp ">
                        <div class="flipper">
                            <div class="front" style="background-image: url(@Html.DisplayattachmentUrl(item.attachment.FileName,"LG"));">
                                <div class="box">
                                    <h2>@item.Title</h2>
                                    <p>@item.Descr</p>
                                </div>
                            </div>
                            <div class="back">

                                <blockquote>
                                    <p>@item.Abstract</p>
                                </blockquote>
                                <div class="author d-flex">
                                    <div class="image align-self-center">
                                        <img src="@Html.DisplayattachmentUrl(item.attachment.FileName,"MD")" alt="" data-pagespeed-url-hash="3858960297" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                    </div>
                                    <div class="name align-self-center ml-3"><a href="@("/En"+Url.Action("Index","content",new {id=item.Id,title=CoreLib.Infrastructure.CommonFunctions.NormalizeAddress(item.PageAddress) }))"> @item.Title <span class="position">@item.Descr</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        @Html.PagedListPager(Model.LatestContents, page => Url.Action("Index", new { page, id = Model.contentType.Id }))
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-4">Categories</h2>
            </div>
        </div>
        <div class="row">
            <ul class="categories" id="ContetTypeCategories">
                @foreach (var item in Model.Categories)
                {
                    <li><a href="@Url.Action("Index","Category",new {id=item.Id,title=CommonFunctions.NormalizeAddress(item.PageAddress) })"> @item.Title <span>(@item.Contents.Count)</span></a></li>

                }
            </ul>
        </div>
    </div>
</section>
<div class="ads">
    <div class="row">

        @{ SumSize = 0;}
        @foreach (var item in Model.BottomAdveresting)
        {
            SumSize += CoreLib.Infrastructure.CommonFunctions.GetSizeColumn(item.AdverestingSizeId);
            <div class="Adveresting Position-@item.Position Size-@item.AdverestingSizeId @(SumSize==12?"lastbox":"")">
                <a href="@item.Link" title="@item.Title">
                    <div class="categories__item set-bg" data-setbg="@Html.DisplayattachmentUrl(item.attachment.FileName)" style="background-image: url(&quot;@Html.DisplayattachmentUrl(item.attachment.FileName)&quot;);">
                        <div class="categories__hover__text">
                            <h5>@item.Title</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>







@section Scripts{


}
