@model Domain.UserOfferMessage
@using CoreLib;

<title>تعریف پیام تخفیف</title>

@{
    var setting = ViewBag.setting as Domain.Setting;
    var Offer = ViewBag.offer as Domain.Offer;
}
@section Header{
    <style>
        .private-message {
            display: none
        }
    </style>

}

<div class="x_panel">
    <div class="x_content">
        <div class="text-left"><a class="btn btn-success" href="@Url.Action("UserOfferMessages",new { id=Offer.Id})"> بازگشت به لیست <span class="glyphicon glyphicon-chevron-left"></span></a></div>


        <h1 style="display:inline-block;font-size: 2em;" class="box-title">
            تعریف پیام تخفیف
        </h1>
        <p class="text text-danger">@ViewBag.Error</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.Hidden("OfferId", Offer.Id)

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group has-feedback col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    @Html.LabelFor(x => x.OfferMessageType)

                    <select id="OfferMessageType" name="OfferMessageType" class="form-control">
                        <option value="@Domain.OfferMessageType.Public">@Domain.OfferMessageType.Public.EnumDisplayNameFor()</option>
                        <option value="@Domain.OfferMessageType.Private">@Domain.OfferMessageType.Private.EnumDisplayNameFor()</option>
                    </select>
                    <div class="private-message">
                        <p>
                            <br />
                            *** می توانید از فیلدهای زیر در متن پیام استفاده نمایید.
                        </p>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%Name" id="chkName" /> <label> نام مشتری </label>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" data-val="%FullName" id="chkFullName" /> <label> نام خانوادگی مشتری </label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%Mobile" id="chkMobile" /> <label> شماره موبایل </label>
                        </div>

                        <div class="col-md-6">
                            <input type="checkbox" data-val="%Title" id="chkTitle" /> <label> عنوان تخفیف </label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%StartDate" id="chkTitle" /> <label> تاریخ شروع تخفیف </label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%EndDate" id="chkTitle" /> <label> تاریخ پایان تخفیف </label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%Groups" id="chkTitle" /> <label> گروههای مجاز </label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%Value" id="chkValue" /> <label> میزان تخفیف </label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%CodeGift" id="chkValue" /> <label> کد تخفیف </label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%CountUse" id="chkValue" /> <label> سقف تعداد استفاده کد تخفیف </label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" data-val="%MaxUse" id="chkValue" /> <label> سقف مبلغ در هر استفاده کد تخفیف</label>
                        </div>
                    </div>

                    @Html.ValidationMessageFor(model => model.OfferMessageType, "", new { @class = "text-danger" })
                </div>

                <div class="form-group has-feedback col-lg-8 col-md-8 col-sm-8 col-xs-12">

                    @Html.LabelFor(x => x.Text)

                    @Html.TextAreaFor(model => model.Text, new { placeholder = "متن پیام", @class = "form-control", rows = "7" })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })

                </div>

                <div class="clearfix"></div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="submit" value="ایجاد" class="btn btn-primary" />
                </div>

            </div>
        }

        @section Scripts{
            <script>
                $(document).ready(function () {

                    $("#OfferMessageType").change(function () {
                        var $this = $(this);
                        if ($this.val() == "Private")
                            $(".private-message").show();
                        else
                            $(".private-message").hide();
                    });

                    $(".private-message input[type='checkbox']").click(function () {
                        var $this = $(this);
                        if ($this.is(":checked")) {
                            var cursorPos = $('#Text').prop('selectionStart');
                            var v = $('#Text').val();
                            var textBefore = v.substring(0, cursorPos);
                            var textAfter = v.substring(cursorPos, v.length);
                            $('#Text').val(textBefore + $this.attr("data-val") + textAfter);
                        }
                        else {
                            $("#Text").val($("#Text").val().replace($this.attr("data-val"),""));
                        }
                        $("#Text").focus();
                    });
                });
            </script>
        }
    </div>
</div>