@using PagedList;
@using PagedList.Mvc;
@using CoreLib;

@model PagedList<Domain.UserOfferMessageMember>


@using ahmadi.Infrastructure.Helper
@using CoreLib.Infrastructure;

@section Header{

    @*View*@
    <link href="~/Areas/Admin/Content/Stylesheets/View/ProductCategories.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Scripts/Component/jquery-ui.min.css" rel="stylesheet" />
    @*Bootstrap Select*@
    <link href="~/areas/admin/content/scripts/component/bootstrp-dropdown/bootstrap-select.min.css" rel="stylesheet" />
}

@{
    var setting = ViewBag.setting as Domain.Setting;
    int? PageSize = ViewBag.PageSize as int?;
    var UserOfferMessage = ViewBag.useroffermessage as Domain.UserOfferMessage;
}

<title>مدیریت اعضای گروه ارسال پیام</title>
<style>
    .form-group.has-feedback span {
        display: inline-block;
    }

    .dropdown-menu > li > a {
        text-align: center;
    }

    .bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
        display: none !important;
    }

    .table-responsive select {
        width: 115px;
        font-size: 12px;
    }

    .ProductCategories {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
</style>

<div class="x_panel">

    <div class="x_content">
        <div class="col-md-8">
            <h1 style="display:inline-block;font-size: 1.5em;" class="box-title">
                <a href="/admin/Offers/UserOfferMessageMembers/@UserOfferMessage.Id"> مدیریت گروه ارسال پیام</a>

            </h1>
            <p>
                <span>متن پیام : </span>
                @UserOfferMessage.Text
            </p>
            <div class="widget_summary">
                <div class="w_right w_25">
                    <span ><span>درصد پیشرفت ارسال ها</span></span>
                </div>
                <div class="w_center w_55">
                    <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@ViewBag.SentPercent" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.SentPercent%;">
                            <span class="sr-only">@ViewBag.SentPercent</span>
                        </div>
                    </div>
                </div>
                <div class="w_left w_20">
                    <span>@ViewBag.CountAllSent / @ViewBag.CountAll </span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 text-left" style="padding-left: 4px;">

            <a class="btn btn-success" href="/Admin/Offers/UserOfferMessages/@UserOfferMessage.Id"><span class="glyphicon glyphicon-list-alt"></span> بازگشت به پیام ها</a>

        </div>
        <div class="clearfix"></div>
        <br />

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0">
            <div class="x_panel">
                <div class="x_title">
                    <h2> جستجو / فیلتر</h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div id="SearchPage">
                        <div>
                            <div>

                                @using (Html.BeginForm("UserOfferMessageMembers", "Offers", FormMethod.Get, new { id = "Search-Form" }))
                                {



                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                        @Html.TextBox("NameString", ViewBag.NameFilter as string, htmlAttributes: new { placeholder = "نام/نام خانوادگی/نام کاربری", style = "display: inline-block", @class = "form-control" })
                                        <span class="fa fa-bold form-control-feedback right" aria-hidden="true"></span>
                                    </div>



                                    <div class="col-md-3 form-group has-feedback">
                                        @Html.DropDownList("state", ViewBag.IsActiveList as IEnumerable<SelectListItem>, "--ارسال شده/نشده را انتخاب نمایید--", htmlAttributes: new { placeholder = "ارسا شده/نشده", style = "width:99%;display: inline-block", @class = "form-control" })
                                        <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
                                    </div>

                                    <div class="clearfix"></div>





                                    @Html.Hidden("PageSize", PageSize.Value);

                                    <div class="clearfix"></div>
                                    <input type="submit" value="جست و جو" class="btn btn-primary" />
                                    @Html.ActionLink("نمایش همه", "List", new { }, htmlAttributes: new { @class = "btn btn-success" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model != null)
            {
                if (Model.Any())
                {

                    <div class="Pagging-New-Container">
                        <strong class="Pagging-New-Info">
                            تعداد نتایج : @Model.TotalItemCount ، صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
                        </strong>

                        @Html.PagedListPager(Model, Page => Url.Action("List", new { Page, sortOrder = ViewBag.CurrentSort, PageSize = PageSize, stateFilter = ViewBag.stateFilter, NameFilter = ViewBag.NameFilter }))

                        <div class="PageSizeSelectorContainer">
                            <span>تعداد نمایش</span>
                            <select class="PageSizeSelector" name="PageSizeSelector">
                                <option value="10" selected="@(PageSize.HasValue && PageSize.Value==10?true:false)">10</option>
                                <option value="20" selected="@(PageSize.HasValue && PageSize.Value==20?true:false)">20</option>
                                <option value="50" selected="@(PageSize.HasValue && PageSize.Value==50?true:false)">50</option>
                                <option value="100" selected="@(PageSize.HasValue && PageSize.Value==100?true:false)">100</option>
                            </select>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="text-center column-title">

                                    </th>
                                    <th class="text-center column-title">
                                        <a href="@Url.Action("UserOfferMessageMembers","Offers",new {sortOrder=ViewBag.CurrentSort!="fullname_desc"?"fullname_desc":"fullname",PageSize=PageSize,stateFilter=ViewBag.stateFilter, NameFilter= ViewBag.NameFilter })">نام و نام خانوادگی</a>
                                    </th>
                                    <th class="text-center column-title">
                                        <a href="@Url.Action("UserOfferMessageMembers","Offers",new {sortOrder=ViewBag.CurrentSort!="mobile_desc"?"mobile_desc":"mobile",PageSize=PageSize,stateFilter=ViewBag.stateFilter, NameFilter= ViewBag.NameFilter })">نام کاربری</a>

                                    </th>

                                    <th class="text-center column-title">
                                        <a href="@Url.Action("UserOfferMessageMembers","Offers",new {sortOrder=ViewBag.CurrentSort!="state_desc"?"state_desc":"state",PageSize=PageSize,stateFilter=ViewBag.stateFilter, NameFilter= ViewBag.NameFilter })">وضعیت</a>
                                    </th>

                                    <th class="text-center column-title">
                                        عملیات
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1; }
                                @foreach (var item in Model)
                                {
                                <tr class="ContentRow">

                                    <td class="text-center">@((((Model.PageNumber - 1) * Model.PageSize)) + i)</td>
                                    <td class="text-center">@item.User.FirstName @item.User.LastName </td>
                                    <td class="text-center">@item.User.PhoneNumber</td>
                                    <td class="text-center">                                        
                                            <span>@item.state.EnumDisplayNameFor()</span>                                        
                                    </td>
                                    <td>
                                        <a href="#" data-id="@item.Id" class="Edit-Now btn btn-primary">ارسال تکی</a>
                                    </td>
                                </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="Pagging-New-Container">
                        <strong class="Pagging-New-Info">
                            تعداد نتایج : @Model.TotalItemCount ، صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
                        </strong>

                        @Html.PagedListPager(Model, Page => Url.Action("CreateUserOfferMessages", new { Page, sortOrder = ViewBag.CurrentSort, PageSize = PageSize, stateFilter = ViewBag.stateFilter, NameFilter = ViewBag.NameFilter }))
                        <div class="PageSizeSelectorContainer">
                            <span>تعداد نمایش</span>
                            <select class="PageSizeSelector" name="PageSizeSelector">
                                <option value="10" selected="@(PageSize.HasValue && PageSize.Value==10?true:false)">10</option>
                                <option value="20" selected="@(PageSize.HasValue && PageSize.Value==20?true:false)">20</option>
                                <option value="50" selected="@(PageSize.HasValue && PageSize.Value==50?true:false)">50</option>
                                <option value="100" selected="@(PageSize.HasValue && PageSize.Value==100?true:false)">100</option>
                            </select>
                        </div>
                    </div>
                }
            }
        </div>


    </div>
    <div class="clearfix"></div>
    @section Scripts{

        <script src="~/Areas/Admin/Content/Scripts/Component/Bootstrp-DropDown/bootstrap-select.min.js"></script>
        @*View*@
        <script src="~/Areas/Admin/Content/Scripts/View/ProductCategories.js"></script>
        @*Product Category*@
        <script src="~/Areas/Admin/Content/Scripts/View/_CategoryManager.js"></script>
        @*Product Category*@
        <script src="~/Areas/Admin/Content/Scripts/View/ProductPriceList.js?v=1.4.5"></script>
        <script>
            $(document).ready(function () {
                $(".Edit-Now").click(function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    $(".loading").show();
                    $.ajax({
                        crossDomain: true,
                        type: "Post",
                        url: "/Admin/Offers/SendSMS",
                        data: '{id:"' + $this.attr("data-id") + '"}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.statusCode == 200)
                                swal({ title: "", text: "ارسال شد", type: "success", showCancelButton: false, confirmButtonClass: 'btn-danger', confirmButtonText: 'بستن' });
                            else
                                swal({ title: "", text: response.Message, type: "error", showCancelButton: false, confirmButtonClass: 'btn-error', confirmButtonText: 'بستن' });

                            $(".loading").hide();
                        }
                    });
                });
            });
        </script>

    }
</div>


