@model List<Domain.attachment>
@using ahmadi.Infrastructure.Helper;

@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="border: 1px dotted #ccc;text-align:center" data-id="@item.Id" data-src="@item.FileName">
        <div>
            <div>@Html.Displayattachment(item.FileName, item.Title, "XS", true, htmlAttributes: new { width = "110", height = "55", style = "margin:0 auto;display:block;width:110px;height:55px" })</div>
        </div>
        <hr />
        <p class="text-bold" style="height:25px;overflow:hidden" title="@item.Title">
            @Html.DisplayFor(modelItem => item.Title)

        </p>
        <div style="font-size:12px">
            <p>
                @Html.DisplayFor(modelItem => item.HasMultiSize)
                @Html.Label(" با تغییر اندازه ")
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.HasWatermark)
                @Html.Label("استفاده از واتر مارک")
            </p>
            <p>
                @Html.Label("تعداد استفاده : ")
                @Html.DisplayFor(modelItem => item.UseCount)
            </p>
            <p>
                @Html.Label("حجم : ")
                @Html.DisplayFor(modelItem => item.Capacity) <sup style="color:#169F85;">kb</sup>
            </p>
        </div>
        <div>
            @if (ViewBag.EditPermission)
            {
                <a class="btn btn-success" href="@Url.Action("Edit", new { id = item.Id })"><span class="glyphicon glyphicon-edit"></span>ویرایش</a>
            }
            else
            {

                <span class="btn btn-success"><span class="glyphicon glyphicon-edit"></span><span style="text-decoration:line-through"> ویرایش </span></span>
            }
            <a class="btn btn-success" href="@Url.Action("Details", new { id = item.Id })"><span class="glyphicon glyphicon-list"></span>جزئیات</a><br /><br />
        </div>
    </div>
}


