@model IEnumerable<Domain.SliderImage>
@using ahmadi.Infrastructure.Helper;

<title>تصاویرِ اسلایدرِ @ViewBag.SliderTitle</title>

<div class="x_panel">
    <div class="x_content">
        <div class="text-left"><a class="btn btn-success" href="@Url.Action("Index","Sliders")"> بازگشت به مدیریت اسلایدرها <span class="glyphicon glyphicon-chevron-left"></span></a></div>

        <h1 style="display:inline-block;font-size: 2em;">
            <i class="flaticon-image"></i> تصاویرِ @ViewBag.SliderTitle
        </h1>
        <br /><br />
        <p>
            @if (ViewBag.AddPermission)
            {
                <a class="btn btn-success" href="@Url.Action("Create", new { id = ViewBag.SliderId })"><span class="glyphicon glyphicon-plus"></span> انتخاب تصویر جدید </a>
            }
            else
            {
                <span class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> <span style="text-decoration:line-through"> انتخاب تصویر جدید </span> </span>
            }
        </p>

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="text-center column-title">
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th class="text-center column-title">
                            کاور تصویر
                        </th>
                        <th class="text-center column-title">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr class="rowItem" id="@item.Id">


                            <td class="text-center">
                                <a href="@item.Title" target="_blank">@item.Title</a>
                            </td>
                            <td class="text-center">

                                @Html.Displayattachment(item.attachment.FileName,item.Title, "SM", htmlAttributes: new { @class = "img-responsive", width = "110", height = "60", style = "display:inline-block;width:110px;height:60px" })

                            </td>

                            <td class="text-center">
                                @if (ViewBag.EditPermission)
                                {
                                    <a class="btn btn-info" href="@Url.Action("Edit", new { id = item.Id })"><span class="glyphicon glyphicon-edit"></span> ویرایش </a>
                                }
                                @if (ViewBag.DeletePermission)
                                {
                                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.Id })"><span class="glyphicon glyphicon-remove"></span> حذف </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @section Scripts{

            @*View*@
            <script src="~/Areas/Admin/Content/Scripts/Component/jquery-ui.min.js"></script>
            <script src="~/Areas/Admin/Content/Scripts/View/SliderImages.js"></script>

        }
</div>
</div>